body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.container {
  width: 50%;
  margin: 40px auto 0;
}

h2.note-heading {
  font-size: 22px;
  position: relative;
  margin-bottom: 45px;
}

h2.note-heading::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #212121;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.note-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #ebebeb;
  background-color: #f4f4f4;
  margin-top: 10px;
  border-radius: 3px;
}

.note-content>p {
  margin: 0;
  padding: 0 10px 0 0;
  font-size: 16px;
  color: #212121;
}

.note-content button {
  width: auto;
  height: 22px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  box-shadow: none;
  flex-shrink: 0;
}

.note-content button:focus, .note-content button:hover {
  outline: 0;
  background-color: #e0e0e0;
}

.note-controls form {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.note-controls form input.note-controls__input {
  outline: 0;
  flex: 1;
  width: calc(100% - 160px);
  height: 45px;
  padding: 0 15px;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.note-controls form input.note-controls__input:focus {
  border-color: #999999;
  /* border-right: 0; */
  box-shadow: none;
}

.note-controls form button.note-controls__submit-btn {
  flex-shrink: 0;
  width: 156px;
  cursor: pointer;
  height: 45px;
  outline: 0;
  color: #ffffff;
  margin-left: 0;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #212121;
  background-color: #333333;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease-out;
}

.note-controls form button.note-controls__submit-btn:hover {
  background-color: #212121;
}